:root { 
    --dark-color: #262F61; 
    --yellow-color: #E1832B; 
    --light-color: #4F6F6C; 
    --darkgreen-color: #172312; 
    --light-color: #FFFFFF; 
    --darkgreen-color: #020302; 
    --lightgreen-color: #4F6F6C; 
} 

body {
    width: 100%;
    height: 100%;
    background-image: url(./Backgrounds/Background\ info.png);
    background-size: cover;
}

a:visited {
    text-decoration: none; 
} 

.container { 
    display: flex; 
    align-items: center; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    vertical-align: center; 
    width: 1200px; 
    margin-top: 1em; 
} 

.Logo { 
    display: flex; 
    margin-left: auto; 
    margin-right: auto; 
    width: auto; 
} 

nav { 
    width: 100%; 
} 

nav ul { 
    display: flex; 
    width: 60%; 
    text-align: center; 
    margin: auto; 
    justify-content: space-between; 
} 

nav ul li { 
    display: block; 
} 

nav ul li a { 
    font-size: 30px;  
    color: white; 
} 


.container2 {
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    margin: 200px;
    display: grid;
    grid-template-columns: 40% 60%;
    color: white;
}

.openinghours {
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    outline: 3px double white;
    outline-offset: -15px;
    text-align: center;
}

.heading1 {
    font-size: 28px;
    text-transform: uppercase;
}
    
.days {
    color: white;
    font-size: 20px;  
}


.container3 { 
    padding: 20px 0;
    margin: 0 auto;
    color: white;
    background-color: black;
    background: rgba(0, 0, 0, 0);
    width: 60%;
    text-align: center;
}


form {
    display: grid;
    grid-row-gap: 20px;
 }
form p {
    font-weight: 600;
}

.input-box {
    display: flex;
    justify-content: space-between;
}
    
input,select {
    padding: 10px 15px;
}

.button {
    font-family: Garamond,Times, serif; 
    background-color: var(--dark-color);
    color:white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}